{% extends 'base.html.twig' %}

{% block content %}

    <p style="font-size:1.3em">Dear <b>{{ dataObject.userName }}</b>, <br><br>
    Please find attached the most recent invoice(s) for use of CCNY's CORELABS services.<br />
    <strong>Due date: {{dataObject.dueDate}}.</strong>  Summary listed below.
    </p>
    <p style="font-size:1.3em">If you have any questions, please contact CORELABS facilties at ph: ###### or email: ######
    </p>
    <br />

    <h2>Invoice Details</h2>
    <table style="width: 60%;border-style:solid;border-width:1px;">
      <thead>
        <tr >
            <th style="text-align:center;">Equipment Used</th>
            <th style="text-align:center;">Service Time</th>
            <th style="text-align:center;">Quantity</th>
            <th style="text-align:center;">Rate</th>
            <th style="text-align:center;">Total</th>
            <!--th style="text-align:center;">Due Date</th-->
        </tr>
      </thead>
      <tbody>
      {#{dump(dataObject)}#}
        {% for details in dataObject.invoiceDetailsArray %}
            <tr>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    {{details[3]}}</td>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    {{details[4]}}</td>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    {{details[5]}}</td>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    {{details[6]}} </td>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    {{details[7]}}</td>
                <!--td style="text-align:center; border-style:solid; border-width:0px;">
                    {{details[2]}}</td-->
            </tr>
        {% endfor %}

      </tbody>
    </table>
    <br />
    <p style="font-size:1.3em">
      Click <a href="http://localhost/invoice/invoiceDetailsVue/Public/">HERE</a> to view complete usage details.
      Please use the access code:<strong>{{dataObject.accessCode}}</strong> when prompted
    </p>

    <p style="font-size:1.3em">Thank you for using CORELABS facilities,</p>

    <p style="font-size:1.3em">CCNY CORELABS team</p>

{% endblock %}
